@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

/*VARIABLES COULEURS*/

body {
    --dark-color: #193541;
    --light-color: #FAF6F0;
    --transparent-light-color: #faf6f0F2;
    --action-color: #FF912B;
    --transparent-action-color: #ff922b80;
}


/*STYLE*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    color: var(--dark-color);
}

button {
    background-color: transparent;
    color: var(--dark-color);
    border-radius: 2px;
    border: 2px solid var(--dark-color);
    padding: 10px 20px;
    margin: 10px;
    font-family: Montserrat;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

button:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.div-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
}

.div-column {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    width: 100%;
    margin: auto;
}

hr {
    height: 5px;
    background-color: #193541;
    width: calc(100%/12);
    border: none;
    text-align: left;
    margin: 55px 0 40px;
}

@media screen and (max-device-width: 600px) {
    hr {
        height: 0.9vh;
        width: 50%;
    }
}


/*NAV BAR STYLE----------------*/

nav {
    display: flex;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 0;
}

ul li {
    margin: 40px 60px;
}

ul li a {
    color: var(--dark-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    text-shadow: 0 1px 1px var(--transparent-action-color);
}

.burger {
    display: none;
}

@media screen and (max-device-width: 600px) {
    nav {
        position: absolute;
    }
    nav ul {
        display: none;
    }
    nav .burger {
        display: flex;
    }
}


/*FIN BAR STYLE----------------*/


/*A PROPOS STYLE ---------------------------------*/

#a-propos {
    width: calc(100%/12*7.5);
    margin: auto;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    margin-bottom: 300px;
    margin-top: 150px;
}

#a-propos p {
    width: 60%;
    text-align: justify;
}

#a-propos .portrait {
    position: absolute;
    display: flex;
    align-self: flex-end;
    height: auto;
    width: calc(100%/12*3.5);
    z-index: -1;
}

#a-propos .portrait-phone {
    display: none;
}

#a-propos .kanji {
    position: absolute;
    height: 60vh;
    width: auto;
    z-index: -2;
    align-self: center;
    padding-right: 17%;
}

@media screen and (max-device-width: 600px) {
    #a-propos {
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
        width: calc(100%/6*4.5);
    }
    #a-propos .kanji {
        height: 90vh;
        width: auto;
    }
    #a-propos .portrait {
        display: none;
    }
    #a-propos .portrait-phone {
        display: flex;
        height: 60vh;
        width: auto;
        margin: 0;
        right: 0;
        opacity: 0.9;
    }
    #a-propos p {
        font-size: 2.5vh;
        width: 100%;
        margin-top: 25vh;
    }
    #a-propos h1 {
        margin-top: 20vh;
        width: 100%;
    }
}


/*FIN A PROPOS STYLE ---------------------------------*/


/*GÉNÉRAL OEUVRES STYLE----------------*/

.oeuvres {
    width: 100%;
    margin: 0;
}

.nuancier {
    width: 100%;
    margin-top: 20px;
}

.oeuvre-nuancier {
    width: calc(100%/10*7);
    margin: 0;
}

.oeuvre-background {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 150vh;
    opacity: 5%;
}

.oeuvre-kanji {
    position: absolute;
    height: 89vh;
    width: auto;
    z-index: -2;
    align-self: flex-end;
    margin-left: calc(100%/10*5.5);
    margin-top: -30px;
}

.oeuvre-kanji-phone {
    display: none;
}

.filters {
    width: calc(100%/10*2);
    margin: 0;
    margin-left: calc(100%/10);
}

@media screen and (max-device-width: 600px) {
    .oeuvre-nuancier {
        width: 100%;
        margin-top: 300px;
    }
    .filters {
        display: none;
    }
    .oeuvre-kanji {
        display: none;
    }
    .oeuvre-kanji-phone {
        display: flex;
        position: absolute;
        width: 90%;
        z-index: -2;
        margin-left: 5%;
        margin-top: 200px;
    }
}


/*COULEURS & CONTEXTE----------*/

#couleurs-contexte {
    width: calc(100%/12*10);
    padding-left: calc(100%/12);
    padding-right: calc(100%/12);
    background-image: url(img/montfuji-bg.png);
    background-size: cover;
    padding-bottom: 100px;
}

#couleurs-contexte .div-row {
    display: flex;
    justify-content: space-between;
}

#couleurs-contexte p {
    width: calc(100%/10*4.9);
    text-align: justify;
}

#couleurs-contexte ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0;
    margin-top: 100px;
}

#couleurs-contexte ul li {
    margin: 30px 0;
    margin-left: 0;
    justify-items: center;
}

#couleurs-contexte ul li a {
    text-shadow: none;
    font-size: 36px;
    font-family: Baskerville Old Face;
}

#couleurs-contexte .number {
    font-family: Montserrat;
    padding: 14px 19px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 500;
}

#couleurs-contexte .number1 {
    padding: 14px 20.605px;
}

@media screen and (max-device-width: 600px) {
    #couleurs-contexte {
        width: calc(100%/6*4);
        padding: 0 calc(100%/6);
    }
    #couleurs-contexte .div-row {
        display: flex;
        flex-direction: column;
    }
    #couleurs-contexte p {
        width: 100%;
    }
}


/* FIN COULEURS & CONTEXTE----------*/


/*OEUVRES STYLE --------------*/

#pecheur {
    width: calc(100%/12*10);
    padding-left: calc(100%/12);
    padding-right: calc(100%/12);
    background-image: url(img/pecheur-bg.png);
    background-size: cover;
    padding-bottom: 100px;
}

#lavague {
    width: calc(100%/12*10);
    padding-left: calc(100%/12);
    padding-right: calc(100%/12);
    background-image: url(img/vague-bg.png);
    background-size: cover;
    padding-bottom: 100px;
}

#lacsuwa {
    width: calc(100%/12*10);
    padding-left: calc(100%/12);
    padding-right: calc(100%/12);
    background-image: url(img/lacsuwa-bg.png);
    background-size: cover;
    padding-bottom: 100px;
}

@media screen and (max-device-width: 600px) {
    /*PECHEUR*/
    #pecheur {
        width: 100%;
        padding: 0;
    }
    #pecheur p,
    #pecheur h2 {
        padding: 0 calc(100%/6);
    }
    #pecheur hr {
        margin-left: calc(100%/6);
        width: calc(100%/6*2);
    }
    /*LA VAGUE*/
    #lavague {
        width: 100%;
        padding: 0;
    }
    #lavague p,
    #lavague h2 {
        padding: 0 calc(100%/6);
    }
    #lavague hr {
        margin-left: calc(100%/6);
        width: calc(100%/6*2);
    }
    /*LAC SUWA*/
    #lacsuwa {
        width: 100%;
        padding: 0;
    }
    #lacsuwa p,
    #lacsuwa h2 {
        padding: 0 calc(100%/6);
    }
    #lacsuwa hr {
        margin-left: calc(100%/6);
        width: calc(100%/6*2);
    }
}


/*FIN LA VAGUE STYLE --------------*/


/*FOOTER STYLE --------------*/

footer {
    width: 100%;
    margin: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.footer-kanji {
    position: absolute;
    margin: auto;
    align-self: center;
    z-index: -2;
}

.footer-kanji-phone {
    display: none;
}

footer ul {
    margin-top: 60px;
    margin-bottom: 100px;
}

footer p {
    margin-bottom: 50px;
    font-weight: 500;
}

@media screen and (max-device-width: 600px) {
    footer ul {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    footer ul li {
        align-self: center;
        margin: 150px 0;
    }
    footer ul li a {
        font-size: 2.3vh;
        text-align: center;
    }
    .footer-kanji {
        display: none;
    }
    .footer-kanji-phone {
        display: flex;
        width: calc(100%/6*2);
        position: absolute;
    }
    footer p {
        text-align: center;
        padding: 0 calc(100%/6);
        font-size: 2vh;
    }
}


/*FIN FOOTER STYLE --------------*/


/*TEXTES STYLE--------------------------------------*/

h1 {
    font-family: Baskerville Old Face;
    font-size: 44px;
    margin: 0;
}

h2 {
    font-family: Baskervville Old Face;
    font-size: 36px;
    margin: 0;
    margin-top: 60px;
    font-weight: 500;
}

p {
    font-family: Montserrat;
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
}

@media screen and (max-device-width: 600px) {
    h1 {
        font-size: 5vh;
    }
    h2 {
        font-size: 5vh;
        margin-bottom: 30px;
    }
    p {
        font-size: 2.3vh;
    }
}

#mycanvas1 {
    display: none;
}

#mycanvas2 {
    display: none;
}

#mycanvas3 {
    display: none;
}